<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/images/icon.png">
    <title>Contact</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="stylesheets/style.css" rel="stylesheet">
    <link href="stylesheets/animate.css" rel="stylesheet">
    <link rel="preload" as="image" href="images/project-1.jpg">
    <link rel="preload" as="image" href="images/project-2.jpg">
    <link rel="preload" as="image" href="images/about.png">
    <link rel="preload" as="image" href="images/hero.png">
</head>

<body>

    <%include nav.ejs%>


        <div class="my-section">
            <div class="container text-center">
                <h2 class="animated animated fadeIn title">Contact</h2>
            </div>
            <div class="contact-section animated fadeIn delay-025s">
                <p class="contact">You can say hi to me through <a href="mailto:tqdat99@gmail.com?Subject=Hi" target="_top" class="green-link">tqdat99@gmail.com</a> or <a href="https://www.facebook.com/tqdat99" class="green-link" target="_blank">Facebook</a>. </br>Otherwise,
                    check my <a href="https://www.linkedin.com/in/tqdat99/" class="green-link" target="_blank">Linkedin</a>,
                    <a href="https://dribbble.com/tqdat99" class="green-link" target="_blank">Dribbble</a>, <a href="https://vimeo.com/tqdat99" class="green-link" target="_blank">Vimeo</a>.
                </p>
            </div>
        </div>
        <%include footer.ejs%>

            <script src="javascripts/script.js"></script>

</body>

</html>