<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/images/icon.png">

    <title>Home</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="stylesheets/style.css" rel="stylesheet">
    <link href="stylesheets/animate.css" rel="stylesheet">

</head>

<body>
    <%include nav.ejs%>
        <div class="my-section">
            <div class="row d-flex align-content-center flex-wrap home-section">
                <div class="col-md-5 d-flex align-items-center flex-column hero-section ">
                    <img src="images/hero.png" class="my-hero animated fadeIn ">
                </div>
                <div class="col-md-7 d-flex align-content-center flex-wrap name-section">
                    <h1 class="last-name animated fadeInUp d-flex">TRƯƠNG</h1>
                    <h1 class="first-name last-name animated fadeInUp delay-025s">QUỐC ĐẠT</h1>
                    <a href="/projects" class="my-link arrow animated fadeInUp delay-05s">my projects</a>
                </div>
            </div>
        </div>
        <%include footer.ejs%>
            <script src="javascripts/script.js"></script>

</body>

</html>