<div class="my-nav d-flex flex-md-row align-items-center bg-white border-bottom box-shadow justify-content-between">
    <a href="/" class="/-brand d-flex align-items-center my-0 mr-md-auto font-weight-normal">
        <img src="/images/logo.png" class="my-logo">
    </a>
    <img src="/images/menu.svg" class="hamburger" onclick="openNav()">
    <nav class="my-2 my-md-0 mr-md-3 navbar-options">
        <a id="home" class="p-2 navbar-p navbar-option" href="/">Home</p>
        <a id="projects" class="p-2 navbar-p navbar-option" href="/projects">Projects</a>
        <a id="about" class="p-2 navbar-p navbar-option" href="/about">About</a>
        <a id="contact" class="p-2 navbar-p navbar-option" href="/contact">Contact</a>
    </nav>
</div>
<div id="mySidebar" class="sidebar hamburger">
    <a id="sidenav-home" class="sidebar-option" href="/">Home</a>
    <a id="sidenav-projects" class="sidebar-option" href="/projects">Projects</a>
    <a id="sidenav-about" class="sidebar-option" href="/about">About</a>
    <a id="sidenav-contact" class="sidebar-option" href="/contact">Contact</a>
</div>
<div id="myOverlay" class="overlay" onclick="openNav()">
</div>