<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>New look, new story — xotours.vn</title>
    <style>
        /* webkit printing magic: print all background colors */
        
        html {
            -webkit-print-color-adjust: exact;
        }
        
        * {
            box-sizing: border-box;
            -webkit-print-color-adjust: exact;
        }
        
        html,
        body {
            margin: 0;
            padding: 0;
        }
        
        @media only screen {
            body {
                margin: 2em auto;
                max-width: 900px;
                color: rgb(55, 53, 47);
            }
        }
        
        body {
            line-height: 1.5;
            white-space: pre-wrap;
        }
        
        a,
        a.visited {
            color: inherit;
            text-decoration: underline;
        }
        
        .pdf-relative-link-path {
            font-size: 80%;
            color: #444;
        }
        
        h1,
        h2,
        h3 {
            letter-spacing: -0.01em;
            line-height: 1.2;
            font-weight: 600;
            margin-bottom: 0;
        }
        
        .page-title {
            font-size: 2.5rem;
            font-weight: 700;
            margin-top: 0;
            margin-bottom: 0.75em;
        }
        
        h1 {
            font-size: 1.875rem;
            margin-top: 1.875rem;
        }
        
        h2 {
            font-size: 1.5rem;
            margin-top: 1.5rem;
        }
        
        h3 {
            font-size: 1.25rem;
            margin-top: 1.25rem;
        }
        
        .source {
            border: 1px solid #ddd;
            border-radius: 3px;
            padding: 1.5em;
            word-break: break-all;
        }
        
        .callout {
            border-radius: 3px;
            padding: 1rem;
        }
        
        figure {
            margin: 1.25em 0;
            page-break-inside: avoid;
        }
        
        figcaption {
            opacity: 0.5;
            font-size: 85%;
            margin-top: 0.5em;
        }
        
        mark {
            background-color: transparent;
        }
        
        .indented {
            padding-left: 1.5em;
        }
        
        hr {
            background: transparent;
            display: block;
            width: 100%;
            height: 1px;
            visibility: visible;
            border: none;
            border-bottom: 1px solid rgba(55, 53, 47, 0.09);
        }
        
        img {
            max-width: 100%;
        }
        
        @media only print {
            img {
                max-height: 100vh;
                object-fit: contain;
            }
        }
        
        @page {
            margin: 1in;
        }
        
        .collection-content {
            font-size: 0.875rem;
        }
        
        .column-list {
            display: flex;
            justify-content: space-between;
        }
        
        .column {
            padding: 0 1em;
        }
        
        .column:first-child {
            padding-left: 0;
        }
        
        .column:last-child {
            padding-right: 0;
        }
        
        .table_of_contents-item {
            display: block;
            font-size: 0.875rem;
            line-height: 1.3;
            padding: 0.125rem;
        }
        
        .table_of_contents-indent-1 {
            margin-left: 1.5rem;
        }
        
        .table_of_contents-indent-2 {
            margin-left: 3rem;
        }
        
        .table_of_contents-indent-3 {
            margin-left: 4.5rem;
        }
        
        .table_of_contents-link {
            text-decoration: none;
            opacity: 0.7;
            border-bottom: 1px solid rgba(55, 53, 47, 0.18);
        }
        
        table,
        th,
        td {
            border: 1px solid rgba(55, 53, 47, 0.09);
            border-collapse: collapse;
        }
        
        table {
            border-left: none;
            border-right: none;
        }
        
        th,
        td {
            font-weight: normal;
            padding: 0.25em 0.5em;
            line-height: 1.5;
            min-height: 1.5em;
            text-align: left;
        }
        
        th {
            color: rgba(55, 53, 47, 0.6);
        }
        
        ol,
        ul {
            margin: 0;
            margin-block-start: 0.6em;
            margin-block-end: 0.6em;
        }
        
        li>ol:first-child,
        li>ul:first-child {
            margin-block-start: 0.6em;
        }
        
        ul>li {
            list-style: disc;
        }
        
        ul.to-do-list {
            text-indent: -1.7em;
        }
        
        ul.to-do-list>li {
            list-style: none;
        }
        
        .to-do-children-checked {
            text-decoration: line-through;
            opacity: 0.375;
        }
        
        ul.toggle>li {
            list-style: none;
        }
        
        ul {
            padding-inline-start: 1.7em;
        }
        
        ul>li {
            padding-left: 0.1em;
        }
        
        ol {
            padding-inline-start: 1.6em;
        }
        
        ol>li {
            padding-left: 0.2em;
        }
        
        .mono ol {
            padding-inline-start: 2em;
        }
        
        .mono ol>li {
            text-indent: -0.4em;
        }
        
        .toggle {
            padding-inline-start: 0em;
            list-style-type: none;
        }
        /* Indent toggle children */
        
        .toggle>li>details {
            padding-left: 1.7em;
        }
        
        .toggle>li>details>summary {
            margin-left: -1.1em;
        }
        
        .selected-value {
            display: inline-block;
            padding: 0 0.5em;
            background: rgba(206, 205, 202, 0.5);
            border-radius: 3px;
            margin-right: 0.5em;
            margin-top: 0.3em;
            margin-bottom: 0.3em;
            white-space: nowrap;
        }
        
        .collection-title {
            display: inline-block;
            margin-right: 1em;
        }
        
        time {
            opacity: 0.5;
        }
        
        .icon {
            display: inline-block;
            max-width: 1.2em;
            max-height: 1.2em;
            text-decoration: none;
            vertical-align: text-bottom;
            margin-right: 0.5em;
        }
        
        img.icon {
            border-radius: 3px;
        }
        
        .user-icon {
            width: 1.5em;
            height: 1.5em;
            border-radius: 100%;
            margin-right: 0.5rem;
        }
        
        .user-icon-inner {
            font-size: 0.8em;
        }
        
        .text-icon {
            border: 1px solid #000;
            text-align: center;
        }
        
        .page-cover-image {
            display: block;
            object-fit: cover;
            width: 100%;
            height: 30vh;
        }
        
        .page-header-icon {
            font-size: 3rem;
            margin-bottom: 1rem;
        }
        
        .page-header-icon-with-cover {
            margin-top: -0.72em;
            margin-left: 0.07em;
        }
        
        .page-header-icon img {
            border-radius: 3px;
        }
        
        .link-to-page {
            margin: 1em 0;
            padding: 0;
            border: none;
            font-weight: 500;
        }
        
        p>.user {
            opacity: 0.5;
        }
        
        td>.user,
        td>time {
            white-space: nowrap;
        }
        
        input[type="checkbox"] {
            transform: scale(1.5);
            margin-right: 0.6em;
            vertical-align: middle;
        }
        
        p {
            margin-top: 0.5em;
            margin-bottom: 0.5em;
        }
        
        .image {
            border: none;
            margin: 1.5em 0;
            padding: 0;
            border-radius: 0;
            text-align: center;
        }
        
        .code,
        code {
            background: rgba(135, 131, 120, 0.15);
            border-radius: 3px;
            padding: 0.2em 0.4em;
            border-radius: 3px;
            font-size: 85%;
            tab-size: 2;
        }
        
        code {
            color: #eb5757;
        }
        
        .code {
            padding: 1.5em 1em;
        }
        
        .code>code {
            background: none;
            padding: 0;
            font-size: 100%;
            color: inherit;
        }
        
        blockquote {
            font-size: 1.25em;
            margin: 1em 0;
            padding-left: 1em;
            border-left: 3px solid rgb(55, 53, 47);
        }
        
        .bookmark-href {
            font-size: 0.75em;
            opacity: 0.5;
        }
        
        .sans {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
        }
        
        .code {
            font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
        }
        
        .serif {
            font-family: Lyon-Text, Georgia, KaiTi, STKaiTi, '华文楷体', KaiTi_GB2312, '楷体_GB2312', serif;
        }
        
        .mono {
            font-family: Nitti, 'Microsoft YaHei', '微软雅黑', monospace;
        }
        
        .pdf .sans {
            font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol", 'Twemoji', 'Noto Color Emoji', 'Noto Sans CJK SC', 'Noto Sans CJK KR';
        }
        
        .pdf .code {
            font-family: Source Code Pro, 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace, 'Twemoji', 'Noto Color Emoji', 'Noto Sans Mono CJK SC', 'Noto Sans Mono CJK KR';
        }
        
        .pdf .serif {
            font-family: PT Serif, Lyon-Text, Georgia, KaiTi, STKaiTi, '华文楷体', KaiTi_GB2312, '楷体_GB2312', serif, 'Twemoji', 'Noto Color Emoji', 'Noto Sans CJK SC', 'Noto Sans CJK KR';
        }
        
        .pdf .mono {
            font-family: PT Mono, Nitti, 'Microsoft YaHei', '微软雅黑', monospace, 'Twemoji', 'Noto Color Emoji', 'Noto Sans Mono CJK SC', 'Noto Sans Mono CJK KR';
        }
        
        .highlight-default {}
        
        .highlight-gray {
            color: rgb(155, 154, 151);
        }
        
        .highlight-brown {
            color: rgb(100, 71, 58);
        }
        
        .highlight-orange {
            color: rgb(217, 115, 13);
        }
        
        .highlight-yellow {
            color: rgb(223, 171, 1);
        }
        
        .highlight-teal {
            color: rgb(15, 123, 108);
        }
        
        .highlight-blue {
            color: rgb(11, 110, 153);
        }
        
        .highlight-purple {
            color: rgb(105, 64, 165);
        }
        
        .highlight-pink {
            color: rgb(173, 26, 114);
        }
        
        .highlight-red {
            color: rgb(224, 62, 62);
        }
        
        .highlight-gray_background {
            background: rgb(235, 236, 237);
        }
        
        .highlight-brown_background {
            background: rgb(233, 229, 227);
        }
        
        .highlight-orange_background {
            background: rgb(250, 235, 221);
        }
        
        .highlight-yellow_background {
            background: rgb(251, 243, 219);
        }
        
        .highlight-teal_background {
            background: rgb(221, 237, 234);
        }
        
        .highlight-blue_background {
            background: rgb(221, 235, 241);
        }
        
        .highlight-purple_background {
            background: rgb(234, 228, 242);
        }
        
        .highlight-pink_background {
            background: rgb(244, 223, 235);
        }
        
        .highlight-red_background {
            background: rgb(251, 228, 228);
        }
        
        .block-color-default {
            color: inherit;
            fill: inherit;
        }
        
        .block-color-gray {
            color: rgba(55, 53, 47, 0.6);
            fill: rgba(55, 53, 47, 0.6);
        }
        
        .block-color-brown {
            color: rgb(100, 71, 58);
            fill: rgb(100, 71, 58);
        }
        
        .block-color-orange {
            color: rgb(217, 115, 13);
            fill: rgb(217, 115, 13);
        }
        
        .block-color-yellow {
            color: rgb(223, 171, 1);
            fill: rgb(223, 171, 1);
        }
        
        .block-color-teal {
            color: rgb(15, 123, 108);
            fill: rgb(15, 123, 108);
        }
        
        .block-color-blue {
            color: rgb(11, 110, 153);
            fill: rgb(11, 110, 153);
        }
        
        .block-color-purple {
            color: rgb(105, 64, 165);
            fill: rgb(105, 64, 165);
        }
        
        .block-color-pink {
            color: rgb(173, 26, 114);
            fill: rgb(173, 26, 114);
        }
        
        .block-color-red {
            color: rgb(224, 62, 62);
            fill: rgb(224, 62, 62);
        }
        
        .block-color-gray_background {
            background: rgb(235, 236, 237);
        }
        
        .block-color-brown_background {
            background: rgb(233, 229, 227);
        }
        
        .block-color-orange_background {
            background: rgb(250, 235, 221);
        }
        
        .block-color-yellow_background {
            background: rgb(251, 243, 219);
        }
        
        .block-color-teal_background {
            background: rgb(221, 237, 234);
        }
        
        .block-color-blue_background {
            background: rgb(221, 235, 241);
        }
        
        .block-color-purple_background {
            background: rgb(234, 228, 242);
        }
        
        .block-color-pink_background {
            background: rgb(244, 223, 235);
        }
        
        .block-color-red_background {
            background: rgb(251, 228, 228);
        }
        
        .checkbox {
            display: inline-flex;
            vertical-align: text-bottom;
            width: 16;
            height: 16;
            background-size: 16px;
            margin-left: 2px;
            margin-right: 5px;
        }
        
        .checkbox-on {
            background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Crect%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22%2358A9D7%22%2F%3E%0A%3Cpath%20d%3D%22M6.71429%2012.2852L14%204.9995L12.7143%203.71436L6.71429%209.71378L3.28571%206.2831L2%207.57092L6.71429%2012.2852Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fsvg%3E");
        }
        
        .checkbox-off {
            background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Crect%20x%3D%220.75%22%20y%3D%220.75%22%20width%3D%2214.5%22%20height%3D%2214.5%22%20fill%3D%22white%22%20stroke%3D%22%2336352F%22%20stroke-width%3D%221.5%22%2F%3E%0A%3C%2Fsvg%3E");
        }
    </style>
</head>

<body>
    <article id="9a8bb789-53cf-41ff-85e0-612fb389298d" class="page sans">
        <header><img class="page-cover-image" src="New%20look%20new%20story%20xotours%20vn/xotour-mockup.jpg" style="object-position:center 38.43%" />
            <div class="page-header-icon page-header-icon-with-cover"><span class="icon">✏️</span></div>
            <h1 class="page-title">New look, new story — xotours.vn</h1>
        </header>
        <div class="page-body">
            <figure id="995ac682-c407-4319-9f07-eb6a14f845ba">
                <div class="bookmark source"><a href="https://xotours.vn/">XO Tours Saigon</a><br/><a class="bookmark-href" href="https://xotours.vn/">https://xotours.vn/</a></div>
            </figure>
            <p id="0da2239d-79a0-44b8-8573-9bae9963a18e" class="">We came up with this project while taking a course on web design. As our lecturer found out some pain points on XO website, so we have decided to redesign 2 main flows to increase the user experience. We also give XO a new look that we think
                it would be more elegant, more charming.</p>
            <ul id="d4c910dc-5f23-4578-a50e-4789280b3f53" class="bulleted-list">
                <li>Home → About Us</li>
            </ul>
            <ul id="d9035a78-f8d5-4d39-a98f-5ce798c1a3f2" class="bulleted-list">
                <li>Listing → Details → Inquiry → Done</li>
            </ul>
            <p id="69702d4c-6e2b-4d85-8c3f-d27cf8d9c882" class="">As we are not experienced UX/UI designers, we did this project mostly with our assumptions while researching, asking. There will be some points that might be not completely rational. </p>
            <h1 id="d40c84f5-2eec-42a9-be3a-dc2c2d8f0c3a" class=""><strong>A. Course information</strong></h1>
            <figure class="block-color-gray_background callout" style="white-space:pre-wrap;display:flex" id="8ec9b218-b901-4721-99e9-b67fe34e4f62">
                <div style="font-size:1.5em"><span class="icon">💡</span></div>
                <div style="width:100%"><strong>School:</strong> <a href="https://www.facebook.com/KeyframeTraining/?ref=br_rs">Keyframe Training</a> - keyframe.vn
                    <strong>Lecturer:</strong> <a href="https://www.facebook.com/ngthuyan14">Nguyễn Thúy An</a> - anneko.co
                    <strong>T.A:</strong> <a href="https://www.facebook.com/meiling209">Huỳnh Mỹ Linh</a></div>
            </figure>
            <figure id="764abc7d-bb27-4ec0-a891-2187e75f0373">
                <div class="bookmark source"><a href="https://keyframe.vn/khoa-hoc-offline.html/khoa-hoc-thiet-ke-ui-ux-web-product-39.html">Khóa học thiết kế UI UX Web Product - Keyframe</a><br/><a class="bookmark-href" href="https://keyframe.vn/khoa-hoc-offline.html/khoa-hoc-thiet-ke-ui-ux-web-product-39.html">https://keyframe.vn/khoa-hoc-offline.html/khoa-hoc-thiet-ke-ui-ux-web-product-39.html</a></div>
            </figure>
            <h3 id="0b0de6b2-1889-4b3f-90d2-deca69dcab61" class="">Group members:</h3>
            <ol id="d71fc85f-c339-4dfd-9727-339fd7f64228" class="numbered-list" start="1">
                <li>Nguyễn Thị Khánh Linh - <a href="mailto:nguyenthikhanhlinh2311@gmail.com">nguyenthikhanhlinh2311@gmail.com</a></li>
            </ol>
            <ol id="843a1376-7526-4f9e-aebb-d061dafd8118" class="numbered-list" start="2">
                <li>Trương Quốc Đạt - <a href="mailto:tqdat99@gmail.com">tqdat99@gmail.com</a></li>
            </ol>
            <ol id="07c042ae-22e7-4a72-b7e5-a4a6f5f29163" class="numbered-list" start="3">
                <li>Trần Quang Minh - <a href="mailto:minhtqm1993@gmail.com">minhtqm1993@gmail.com</a></li>
            </ol>
            <ol id="da0880aa-573b-4741-bd43-6818c5a90e0a" class="numbered-list" start="4">
                <li>Nguyễn Thanh Bình - <a href="mailto:brunobinh93@gmail.com">brunobinh93@gmail.com</a></li>
            </ol>
            <h1 id="c32fd136-74b5-4723-bd0f-44ada34fa55b" class="">B. Design</h1>
            <h3 id="be6e490e-688b-498a-a970-a517f86f24d1" class="">Desktop Version</h3>
            <figure id="26bfefa4-8680-4c59-a780-812a1b7ada37">
                <div class="bookmark source"><a href="https://www.figma.com/proto/X2xUof6BvG44S106ScjWhfRN/K08A-Team-3?node-id=421%3A1589&amp;scaling=min-zoom">K08A-Team-3</a><br/><a class="bookmark-href" href="https://www.figma.com/proto/X2xUof6BvG44S106ScjWhfRN/K08A-Team-3?node-id=421%3A1589&amp;scaling=min-zoom">https://www.figma.com/proto/X2xUof6BvG44S106ScjWhfRN/K08A-Team-3?node-id=421%3A1589&amp;scaling=min-zoom</a></div>
            </figure>
            <h3 id="cc163da4-37f3-40db-9ab7-9500587f4ad3" class="">Mobile Version</h3>
            <figure id="c684f204-fa4c-4992-9204-4ae3087ef974">
                <div class="bookmark source"><a href="https://www.figma.com/proto/X2xUof6BvG44S106ScjWhfRN/K08A-Team-3?node-id=1191%3A6586&amp;scaling=min-zoom">K08A-Team-3</a><br/><a class="bookmark-href" href="https://www.figma.com/proto/X2xUof6BvG44S106ScjWhfRN/K08A-Team-3?node-id=1191%3A6586&amp;scaling=min-zoom">https://www.figma.com/proto/X2xUof6BvG44S106ScjWhfRN/K08A-Team-3?node-id=1191%3A6586&amp;scaling=min-zoom</a></div>
            </figure>
            <h1 id="97c2f5bb-522b-4f24-b214-1cd2fd9aa74e" class="">C. Case study</h1>
            <h2 id="19cba675-21b2-4359-a9e3-46c095faa700" class="">📚 Project scope</h2>
            <h3 id="b0c91539-ea2d-4390-a570-2bb5679df5ce" class="">Goals</h3>
            <p id="d85f0ab1-e24e-4b85-8bb5-d6ae0ecfbd81" class="">Redesign 2 main flows of xotours.vn website:</p>
            <p id="fd087b92-1796-4b9b-a5c8-69f49db0754b" class="">• Homepage → About us (must-have: Key selling points) • Listing → Detailed Information (must-have: Itinerary) → Inquiry now → Done</p>
            <h3 id="a7e17d31-881f-4e84-9431-26d8c5da29a7" class="">Group</h3>
            <p id="2ebd37ff-ed84-4e10-a43e-f9c86a9810a2" class="">Group of 4 members</p>
            <h3 id="22c6da83-35e0-4eb6-b60c-8502051ea6a8" class="">Time</h3>
            <p id="f298c091-852a-49fb-a1d0-523099a17e35" class="">About a month</p>
            <h2 id="4a8dcc98-ba63-4cfb-87b3-9b91ea178a91" class="">👨‍👩‍👧 Target Users</h2>
            <p id="ab583449-a7c2-44d4-b605-104304cd7e39" class="">We have researched and supposed there are 3 groups of user. Keep in mind that these are all our assumptions which could be not rational in some situations</p>
            <h3 id="7e10c152-b4c3-490f-a2a9-3214f77167dc" class="">Travel agencies in Vietnam</h3>
            <p id="bc06bf0e-0298-4b79-9add-685d149e099b" class="">This group mainly access XO website to check for the tours, prices to see if we got something that may interest their customers. Then, they might look for contact to have a discussion.</p>
            <p id="4cd92e49-5fe1-4b39-8489-b07f4f331f7a" class="">Pain points</p>
            <ul id="c2349ea1-5480-40d6-9b70-0cce1bbaf4d2" class="bulleted-list">
                <li>They might not acknowledge that CTA button “Book now” links to Tour Listing</li>
            </ul>
            <ul id="b9aa7470-e9a2-4d20-a82e-08dd0f4650b0" class="bulleted-list">
                <li>Foreign travel agencies</li>
            </ul>
            <h3 id="c8e51992-933b-4e1b-b93c-46c8eba9adb6" class="">Foreign travel agencies</h3>
            <p id="b6230fa9-2f83-42ab-ac7b-5b70cb77f67e" class="">Looking for tours for their customers, and information about the quality, legit, reputation. If interested, they might look for contact to have a deal.</p>
            <p id="e13dfc47-9985-4051-aaa0-c4087fd8cdd4" class="">Pain points</p>
            <ul id="a64ffda3-e7b0-46ef-a965-d5076244d9cb" class="bulleted-list">
                <li>They might not acknowledge that CTA button “Book now” links to Tour Listing</li>
            </ul>
            <ul id="9837ef1c-85e5-44aa-9847-416aa49c2314" class="bulleted-list">
                <li>About Us Page lacks lots of information</li>
            </ul>
            <h3 id="d219654a-25bc-4086-88d6-f2e6b15a70d3" class="">Foreign retail customers</h3>
            <p id="cc290013-7f12-4071-91f3-623bdfb75a2e" class="">Users in this group usually look for tours for their customers, and information about the quality, legit, reputation. If interested, they might look for contact to have a deal.</p>
            <p id="4c8dd02f-8c02-4d3b-b18c-2e524d680afa" class="">Pain points</p>
            <ul id="eec60fe9-69c7-40de-9558-280085c4dafd" class="bulleted-list">
                <li>They might not acknowledge that CTA button “Book now” links to Tour Listing</li>
            </ul>
            <ul id="e4f65d73-36a3-40d7-854a-d9649c5dffb4" class="bulleted-list">
                <li>They want to inquire quickly</li>
            </ul>
            <figure class="block-color-pink callout" style="white-space:pre-wrap;display:flex" id="86f9dd73-3c3a-4694-8340-0d9886ec56b9">
                <div style="font-size:1.5em"><span class="icon">🙋</span></div>
                <div style="width:100%">Although 3 groups of users are given, we researched and decided to focus on <strong>Foreign retail customers</strong> group. Below are the 2 user personas that we have come up with</div>
            </figure>
            <div id="9c1ced09-972c-45f6-b9d6-71676bfd73c8" class="column-list">
                <div id="51d642b5-b4f9-4678-848f-e8ffe2b8c177" style="width:50%" class="column">
                    <figure id="6d4e03ee-c986-4ef9-b6be-d2dd391e4c07" class="image">
                        <a href="New%20look%20new%20story%20xotours%20vn/User_Persona_02_3.png"><img style="width:336px" src="New%20look%20new%20story%20xotours%20vn/User_Persona_02_3.png" /></a>
                    </figure>
                </div>
                <div id="ccdaf8cd-4b2c-47d5-bc50-532fcbe4a6be" style="width:50%" class="column">
                    <figure id="0c758f2f-5995-4751-9ff3-51663ec79fa6" class="image">
                        <a href="New%20look%20new%20story%20xotours%20vn/User_Persona_02.png"><img style="width:384px" src="New%20look%20new%20story%20xotours%20vn/User_Persona_02.png" /></a>
                    </figure>
                    <p id="6e9ae57d-0568-4405-9bfb-82408c6e341b" class="">
                    </p>
                </div>
            </div>
            <h2 id="3490b209-db48-438d-9802-eea1a57e6216" class="">🎨 Mood board</h2>
            <figure id="69e69dbd-161a-4d84-a583-abb1928c6fdc" class="image">
                <a href="New%20look%20new%20story%20xotours%20vn/Group.png"><img style="width:480px" src="New%20look%20new%20story%20xotours%20vn/Group.png" /></a>
            </figure>
            <h2 id="2e9c527a-a859-4479-9ea4-900ca8031bd2" class="">🗺 Sitemap</h2>
            <p id="f9115f7c-a1bb-42f7-adb5-209e187c6a24" class="">This is the new site map that we have come up with after discussion</p>
            <figure id="088b4aeb-46d1-4d73-af5b-89304f691ae1" class="image">
                <a href="New%20look%20new%20story%20xotours%20vn/Group_4.png"><img style="width:528px" src="New%20look%20new%20story%20xotours%20vn/Group_4.png" /></a>
            </figure>
            <h2 id="20163c4c-5c04-45bc-9a72-e0d1d6219bcc" class="">🔑 Problems &amp; Solutions</h2>
            <h3 id="95c71883-7e26-4b6a-9534-f3928d271d57" class="">Homepage</h3>
            <p id="32291c4c-6a42-4b70-9205-498688f7ba96" class="">✋ Problems</p>
            <ul id="cca39d4f-37e2-4228-b19f-26b7bb702531" class="bulleted-list">
                <li>Header take too much space</li>
            </ul>
            <ul id="9c53102f-3c4e-4bee-aee9-b3a7b846af21" class="bulleted-list">
                <li>Navigation is not prioritized</li>
            </ul>
            <ul id="cc954474-2947-4571-af2d-8c795b25bd60" class="bulleted-list">
                <li>“Book now” on navigation bar might cause confusion (Book now links to Listing, usually Inquiry form instead)</li>
            </ul>
            <figure id="aeb5aedf-6c3d-4534-96df-e7b1ac73ce05" class="image">
                <a href="New%20look%20new%20story%20xotours%20vn/image_(4).png"><img style="width:576px" src="New%20look%20new%20story%20xotours%20vn/image_(4).png" /></a>
            </figure>
            <p id="44cd986d-e1ce-49ec-a0ea-cd5f83222b35" class="">👍 Solutions</p>
            <ul id="0a88edf2-a3d0-45c3-8ec9-0e018114a6cf" class="bulleted-list">
                <li>Simplify header</li>
            </ul>
            <ul id="59557a28-e112-4467-9e91-615ab9ca92e3" class="bulleted-list">
                <li>Make navigation more clear and prioritized: Home, Tours, About Us, Gallery, Blog, FAQ, Contact</li>
            </ul>
            <figure id="8ec70b86-33f6-4187-8b5e-5c0b5fa995df" class="image">
                <a href="New%20look%20new%20story%20xotours%20vn/image_2.png"><img style="width:624px" src="New%20look%20new%20story%20xotours%20vn/image_2.png" /></a>
            </figure>
            <hr id="2aa686b1-4bfb-4b8e-94e0-c17be599623d" />
            <p id="053e426e-497a-4be8-8067-9e300a8df25f" class="">✋ Problems</p>
            <ul id="ce6bf486-a254-400b-a581-d307c1a9f64b" class="bulleted-list">
                <li>Hero image take too much space</li>
            </ul>
            <ul id="0cf2741f-0639-4688-b8e9-d14a685f65ad" class="bulleted-list">
                <li>Text on hero image cannot be selected</li>
            </ul>
            <ul id="9a20ce79-f036-4a84-b3bf-0e16aa681393" class="bulleted-list">
                <li>“Book now” button might cause confusion (Book now links to Listing, usually Inquiry form instead)</li>
            </ul>
            <figure id="cdbef3b7-00ad-4803-9b95-bf7526093d89" class="image">
                <a href="New%20look%20new%20story%20xotours%20vn/image_(3).png"><img style="width:576px" src="New%20look%20new%20story%20xotours%20vn/image_(3).png" /></a>
            </figure>
            <p id="a8f75c4a-8f70-48c2-8818-345f72084215" class="">👍 Solutions</p>
            <ul id="a8ebb0eb-f8fa-42fb-951c-778c1d614f73" class="bulleted-list">
                <li>Redesign hero image to look more contrast between elements (text, button, image)</li>
            </ul>
            <ul id="4ddec7c9-f0e6-48f4-a585-97aa13d68fbf" class="bulleted-list">
                <li>Text can now be selected</li>
            </ul>
            <ul id="b15b65f5-67dc-44d2-b339-c0da46c90bf0" class="bulleted-list">
                <li>Change “Book now” to “Explore tours”, which links to tour listing page</li>
            </ul>
            <figure id="89895db4-5ead-4808-9720-aef15779b7ea" class="image">
                <a href="New%20look%20new%20story%20xotours%20vn/image_(5).png"><img style="width:576px" src="New%20look%20new%20story%20xotours%20vn/image_(5).png" /></a>
            </figure>
            <hr id="15b849cf-ba97-4c23-891b-6067f699ab8d" />
            <p id="635642a5-cb24-4906-a379-ab0551f24456" class="">✋ Problems</p>
            <ul id="54b200f0-259b-43df-8ef9-6275b6e81367" class="bulleted-list">
                <li>No “bestsellers” or “most-popular” tours</li>
            </ul>
            <ul id="81336292-a4f6-45f4-8146-e5a493b06dd4" class="bulleted-list">
                <li>Long paragraph</li>
            </ul>
            <figure id="1bd2a33a-3710-4385-a2a2-384cbb4aded8" class="image">
                <a href="New%20look%20new%20story%20xotours%20vn/image_2_(1).png"><img style="width:672px" src="New%20look%20new%20story%20xotours%20vn/image_2_(1).png" /></a>
            </figure>
            <p id="aa761f97-f58d-42a1-a4bf-6c83792c6329" class="">👍 Solutions</p>
            <ul id="dc1c2129-62f4-4684-b917-ef2de789b0d8" class="bulleted-list">
                <li>Add “most-popular” tours</li>
            </ul>
            <ul id="68aea863-c8e3-472f-85b0-e9a514b7da35" class="bulleted-list">
                <li>Shorten paragraph, links to About Us page if users want to find out more</li>
            </ul>
            <figure id="7b1e68f5-d2e8-4b37-8462-bf4c6c5b9522" class="image">
                <a href="New%20look%20new%20story%20xotours%20vn/image_(6).png"><img style="width:918px" src="New%20look%20new%20story%20xotours%20vn/image_(6).png" /></a>
            </figure>
            <hr id="7c8b64b8-f659-490d-a50f-6e706bd9f690" />
            <p id="37d4303b-e104-4d67-8181-f481126aa19f" class="">✋ Problems</p>
            <ul id="318bd469-0a79-4e8e-8e88-d32086a38500" class="bulleted-list">
                <li>Low-quality images</li>
            </ul>
            <ul id="01a58e01-5038-475e-882d-6bc3faa56809" class="bulleted-list">
                <li>Center-aligned small texts are a bit hard to read</li>
            </ul>
            <ul id="1f590917-eea9-4e89-8b9e-351b79132b11" class="bulleted-list">
                <li>Too many repeated buttons (“Learn more”)</li>
            </ul>
            <figure id="a9b257c6-8ad2-4f8e-9aa2-b2f1820023dd" class="image">
                <a href="New%20look%20new%20story%20xotours%20vn/image_(7).png"><img style="width:576px" src="New%20look%20new%20story%20xotours%20vn/image_(7).png" /></a>
            </figure>
            <p id="0c27e126-b124-4b79-a754-09c0366d4fcd" class="">👍 Solutions</p>
            <ul id="1d45bea9-0228-4a5f-857c-f987a3511a7b" class="bulleted-list">
                <li>Change images (remind that those are free stocks, which can be not appropriate with the brand identity in some situations)</li>
            </ul>
            <ul id="885cda71-a1ff-408b-a78c-202b08ac1762" class="bulleted-list">
                <li>Left-aligned small texts</li>
            </ul>
            <ul id="ef16b489-820f-4d81-8cc5-e0bd4e0e3d29" class="bulleted-list">
                <li>Remove “Learn more” buttons</li>
            </ul>
            <figure id="2fb044ee-877f-472e-b1e6-19b8aba34626" class="image">
                <a href="New%20look%20new%20story%20xotours%20vn/image_(8).png"><img style="width:576px" src="New%20look%20new%20story%20xotours%20vn/image_(8).png" /></a>
            </figure>
            <hr id="310d283c-ae85-4bfc-8b40-f673f45e6550" />
            <p id="a9af77e0-ebac-4412-a518-595c9c8d3a86" class="">✋ Problems</p>
            <ul id="4f073cd4-0fbf-48af-acc7-67e6d32f6b52" class="bulleted-list">
                <li>No eye-catching thumbnails might discourage users from reading</li>
            </ul>
            <figure id="19f84009-50a4-4224-bc2d-6da1c4f3c672" class="image">
                <a href="New%20look%20new%20story%20xotours%20vn/image_(9).png"><img style="width:672px" src="New%20look%20new%20story%20xotours%20vn/image_(9).png" /></a>
            </figure>
            <p id="eb743762-bade-4d3f-b154-6e7a02a0d73e" class="">👍 Solutions</p>
            <ul id="ccbe65ba-0f8d-496e-9980-0198c97aa65d" class="bulleted-list">
                <li>Add blog thumbnails to draw users&#x27; eyes</li>
            </ul>
            <figure id="c260acf0-9030-429d-a971-f592ac85542f" class="image">
                <a href="New%20look%20new%20story%20xotours%20vn/image_(10).png"><img style="width:672px" src="New%20look%20new%20story%20xotours%20vn/image_(10).png" /></a>
            </figure>
            <hr id="d611f2ad-f61b-4bec-a707-ff87378051d1" />
            <p id="4dc6c100-4880-4794-8620-caa3f7a96a08" class="">✋ Problems</p>
            <ul id="9c70a9fc-e677-4676-9698-35d5e1209402" class="bulleted-list">
                <li>Most of users will not click to play these videos as they are scanning for information instead</li>
            </ul>
            <figure id="b73d8f78-4111-4ad0-94c1-5186d988a794" class="image">
                <a href="New%20look%20new%20story%20xotours%20vn/image_(11).png"><img style="width:948px" src="New%20look%20new%20story%20xotours%20vn/image_(11).png" /></a>
            </figure>
            <p id="32bc9a25-8339-433a-9c3a-c733294ef848" class="">👍 Solutions</p>
            <ul id="f6d90141-916c-4cfa-834a-5da65ef22dbb" class="bulleted-list">
                <li>Gallery now contains images, so users can quickly see and a link to Gallery if they want to see more</li>
            </ul>
            <figure id="230e178e-3509-433c-8065-36b110c46575" class="image">
                <a href="New%20look%20new%20story%20xotours%20vn/image_2_(2).png"><img style="width:624px" src="New%20look%20new%20story%20xotours%20vn/image_2_(2).png" /></a>
            </figure>
            <hr id="ec87f184-0ff3-4760-8d8b-8dbddca8a64b" />
            <p id="baf31491-c2d2-4937-999b-230fe1b9ab3c" class="">✋ Problems</p>
            <ul id="b87d9495-8c53-46a3-b1b2-5e1bb2e8e5cd" class="bulleted-list">
                <li>Some reviews have to be clicked to be fully shown</li>
            </ul>
            <figure id="7ee261b6-0f23-4896-b2a3-deda5c4144bb" class="image">
                <a href="New%20look%20new%20story%20xotours%20vn/image_(12).png"><img style="width:918px" src="New%20look%20new%20story%20xotours%20vn/image_(12).png" /></a>
            </figure>
            <p id="1124bccf-885b-467b-8a6d-4cf4301c4c36" class="">👍 Solutions</p>
            <ul id="5219d98c-1401-49ef-8670-b80c33acb68b" class="bulleted-list">
                <li>Reviews are now fully shown. We also add a link to Tripadvisors if users want to read more</li>
            </ul>
            <figure id="8857f1ac-e152-4ded-9f0e-5ca07d46b0d4" class="image">
                <a href="New%20look%20new%20story%20xotours%20vn/image_(13).png"><img style="width:624px" src="New%20look%20new%20story%20xotours%20vn/image_(13).png" /></a>
            </figure>
            <p id="6a42c853-1116-43a4-8c00-b0911a1dca8d" class="">
            </p>
            <h3 id="b9759c45-7fa2-4207-a032-6c36f6b733ae" class="">About Us</h3>
            <p id="cae744f6-e1b7-4c50-8448-8455367c2f2d" class="">✋ Problems</p>
            <ul id="71b7bd64-c396-44c9-b9a4-d63c655b9790" class="bulleted-list">
                <li>There is only founder&#x27;s story</li>
            </ul>
            <figure id="81feafab-4127-4cee-935e-626d3f408f5b" class="image">
                <a href="New%20look%20new%20story%20xotours%20vn/image_(14).png"><img style="width:672px" src="New%20look%20new%20story%20xotours%20vn/image_(14).png" /></a>
            </figure>
            <p id="d63f67b1-7cab-4d38-a57c-d3432323a613" class="">👍 Solutions</p>
            <ul id="903b8be1-d8fa-4927-a912-c24e142b48e5" class="bulleted-list">
                <li>Add detailed paragraph about XO in first section (Who are we?)</li>
            </ul>
            <ul id="5515554a-c561-4fae-bd6c-570e022d8808" class="bulleted-list">
                <li>Shorten founder’s story. However, we still keep the main ideas</li>
            </ul>
            <ul id="040040ee-91af-42bb-85bb-bb00d01889d4" class="bulleted-list">
                <li>Add icons to increase delight feeling while reading</li>
            </ul>
            <ul id="a7b780e8-1e16-43cc-895b-a8f477a13253" class="bulleted-list">
                <li>Add recommended-by logos to increase reputation</li>
            </ul>
            <ul id="6ce60ed8-410c-46fb-8316-85475fc89513" class="bulleted-list">
                <li>Add customers’ reviews
                    <figure id="17863ec3-da4f-4477-ac27-4c4b3601f4d3" class="image">
                        <a href="New%20look%20new%20story%20xotours%20vn/About_Us_Desktop_(2).png"><img style="width:918px" src="New%20look%20new%20story%20xotours%20vn/About_Us_Desktop_(2).png" /></a>
                    </figure>
                    <p id="e3eb6970-dd0c-4a50-a96b-f22d3c043b60" class="">
                    </p>
                </li>
            </ul>
            <h3 id="7eb54187-ca2c-4eaa-add4-b82e26bf4b8a" class="">Listing</h3>
            <p id="bbb4b5c4-8313-4833-be58-6339814e9807" class="">✋ Problems</p>
            <ul id="3241366c-4f31-4f7f-8342-107cb916e286" class="bulleted-list">
                <li>Without filters for different places, users have to access Hoi An tours on other tab on navigation</li>
            </ul>
            <ul id="2c48186b-8aef-428e-8a7e-63c46ebf93f3" class="bulleted-list">
                <li>Low-quality thumbnails</li>
            </ul>
            <ul id="10ca6e48-0982-40c4-b47a-6f9f206c01f3" class="bulleted-list">
                <li>Repeated CTA buttons cause heavy-feeling</li>
            </ul>
            <figure id="118900a2-a96e-4eda-adeb-e43c6c5b29dd" class="image">
                <a href="New%20look%20new%20story%20xotours%20vn/image_(15).png"><img style="width:576px" src="New%20look%20new%20story%20xotours%20vn/image_(15).png" /></a>
            </figure>
            <p id="c21d9e5d-caf2-42c6-870b-5a30d9468bc9" class="">👍 Solutions</p>
            <ul id="a7d5fe1b-da7c-485d-94c1-82243519d070" class="bulleted-list">
                <li>Add place filter so users can easily find their favorite place</li>
            </ul>
            <ul id="2de88618-da50-4700-8844-e47eec7c3caa" class="bulleted-list">
                <li>Replace thumbnails with better stock images</li>
            </ul>
            <ul id="82bd0913-0f6d-450a-8b0c-a474e5efc371" class="bulleted-list">
                <li>Remove buttons</li>
            </ul>
            <figure id="c5266093-c07b-4293-829e-70a40fdbcbc3" class="image">
                <a href="New%20look%20new%20story%20xotours%20vn/image_(16).png"><img style="width:624px" src="New%20look%20new%20story%20xotours%20vn/image_(16).png" /></a>
            </figure>
            <p id="7c3a115c-c6c3-448c-8aa2-67dcce2f315b" class="">
            </p>
            <h3 id="286cb3d4-879c-476a-8bc9-df5daf54dd24" class="">Detailed Information</h3>
            <p id="e110bfd6-095f-43e5-9c9e-99057b322d99" class="">✋ Problems</p>
            <ul id="cd0dd022-3146-4c99-b901-ebc317db6301" class="bulleted-list">
                <li>Too big ATF image, text on it cannot be selected</li>
            </ul>
            <ul id="4e71b973-a080-42a9-8bf3-1ace099aba8f" class="bulleted-list">
                <li>No breadcrumb for users to know where they are</li>
            </ul>
            <ul id="0a47657d-d581-4100-83b6-ad9aedaa6512" class="bulleted-list">
                <li>“Book now” might make users feel rushed</li>
            </ul>
            <ul id="1961fb85-d613-4814-8feb-f8efeca369c4" class="bulleted-list">
                <li>No separate sections (Ex. Overview, Includes, ...)</li>
            </ul>
            <figure id="d0b0bca4-5458-4602-afee-dfdddcc0ae45" class="image">
                <a href="New%20look%20new%20story%20xotours%20vn/image_(17).png"><img style="width:528px" src="New%20look%20new%20story%20xotours%20vn/image_(17).png" /></a>
            </figure>
            <p id="a2aa53cc-df8e-4e81-bea7-b45b7de154c7" class="">👍 Solutions</p>
            <ul id="2f2b439b-d3d2-4f12-ba16-1f365547f543" class="bulleted-list">
                <li>Resize ATF image• Move “Inquiry now” to the right so it can be more easily clicked• Add breadcrumb so users can know where they are</li>
            </ul>
            <ul id="7fbce690-eefe-4c05-a34e-af836d402617" class="bulleted-list">
                <li>Separate sections (Overview, Includes, Optional Services, Reviews)</li>
            </ul>
            <ul id="1d702330-9730-44be-9991-66443b6d970f" class="bulleted-list">
                <li>Add a sticky card which contains tour includes and “inquiry now” button on the right so users can keep track and click anytime they want</li>
            </ul>
            <figure id="d74aca69-daae-48e5-bbc4-dd80b2666d78" class="image">
                <a href="New%20look%20new%20story%20xotours%20vn/image_(18).png"><img style="width:528px" src="New%20look%20new%20story%20xotours%20vn/image_(18).png" /></a>
            </figure>
            <hr id="4c1fd8a0-8cfa-4ec6-baaf-7fc373138ee3" />
            <p id="3a7955b6-a62c-4160-a5c7-03a6e6eeb6c3" class="">✋ Problems</p>
            <ul id="3f676843-73b0-4839-a52f-fed56d051fa6" class="bulleted-list">
                <li>No reviews about particular tour (these are overall reviews about the experience)</li>
            </ul>
            <figure id="79b5c02c-4c8e-4c76-bcaf-3868fa8eb428" class="image">
                <a href="New%20look%20new%20story%20xotours%20vn/image_(21).png"><img style="width:528px" src="New%20look%20new%20story%20xotours%20vn/image_(21).png" /></a>
            </figure>
            <p id="d09f8341-8969-4501-83e7-b138d4a463e3" class="">👍 Solutions</p>
            <ul id="821f1846-1e0b-433b-a8e4-e7ab0e08c0f1" class="bulleted-list">
                <li>Add reviews about particular tour</li>
            </ul>
            <figure id="cb54dbd1-cfed-4809-9c0b-ff0c56569250" class="image">
                <a href="New%20look%20new%20story%20xotours%20vn/image_(22).png"><img style="width:528px" src="New%20look%20new%20story%20xotours%20vn/image_(22).png" /></a>
            </figure>
            <hr id="66647d9e-bcb2-4f26-b622-47c800a51efa" />
            <p id="0dfab64f-2430-4610-a38c-83be45ec2090" class="">✋ Problems</p>
            <ul id="469b43a3-d3dc-4227-b32e-2f50abcd6616" class="bulleted-list">
                <li>Few moment images about tour</li>
            </ul>
            <figure id="bd9ae2bb-e9cf-48de-8a46-b0771b9e5588" class="image">
                <a href="New%20look%20new%20story%20xotours%20vn/image_(19).png"><img style="width:576px" src="New%20look%20new%20story%20xotours%20vn/image_(19).png" /></a>
            </figure>
            <p id="d4a50598-5340-4248-9be8-41236cb17bbb" class="">👍 Solutions</p>
            <ul id="cbe9734a-4777-4ff0-9c3f-4ead0d83f686" class="bulleted-list">
                <li>Add more moment images about tour</li>
            </ul>
            <figure id="1f7abfa9-06cd-4d1a-a8df-8579aecf27a4" class="image">
                <a href="New%20look%20new%20story%20xotours%20vn/image_(20).png"><img style="width:576px" src="New%20look%20new%20story%20xotours%20vn/image_(20).png" /></a>
            </figure>
            <hr id="98a0ade0-f444-4ac4-9ea1-5ec980181e7e" />
            <p id="539befbe-faa4-418f-b5a7-9694a95bb554" class="">✋ Problems</p>
            <ul id="dee0a10c-fe62-46f7-9ee0-827522e6dbf8" class="bulleted-list">
                <li>“Inquire now” buttons are too far (one at the top, one at the bottom)</li>
            </ul>
            <figure id="3968521f-e1e2-4fec-a0a3-9ea307460e6c" class="image">
                <a href="New%20look%20new%20story%20xotours%20vn/image_(23).png"><img style="width:480px" src="New%20look%20new%20story%20xotours%20vn/image_(23).png" /></a>
            </figure>
            <figure id="c1d9d09b-b979-42d8-a04d-bcf571e456fb" class="image">
                <a href="New%20look%20new%20story%20xotours%20vn/image_2_(3).png"><img style="width:480px" src="New%20look%20new%20story%20xotours%20vn/image_2_(3).png" /></a>
            </figure>
            <p id="2a50cde4-feff-427c-a86f-87f267df445b" class="">👍 Solutions</p>
            <ul id="c8aed7d0-4fc4-42fc-9983-cccb5a547beb" class="bulleted-list">
                <li>Add a sticky card which contains tour includes and “inquiry now” button on the right so users can keep track and click anytime they want</li>
            </ul>
            <div id="28a73b56-69f2-44cd-bd54-12a62e6b1547" class="column-list">
                <div id="28a91cf2-4e26-489d-a3de-816e0169efb0" style="width:50.000000000000014%" class="column">
                    <figure id="d10a8233-aa56-474c-9e3f-8c65eb94b8b0" class="image">
                        <a href="New%20look%20new%20story%20xotours%20vn/image_(24).png"><img style="width:432px" src="New%20look%20new%20story%20xotours%20vn/image_(24).png" /></a>
                    </figure>
                </div>
                <div id="a66403cc-2f77-4a82-b0ef-722173908166" style="width:50.00000000000002%" class="column">
                    <figure id="e06569f2-7d6a-405e-a86f-38f63a2a3a59" class="image">
                        <a href="New%20look%20new%20story%20xotours%20vn/image_(25).png"><img style="width:192px" src="New%20look%20new%20story%20xotours%20vn/image_(25).png" /></a>
                    </figure>
                    <p id="8f892050-4458-47d1-a43f-3f9fc3eeeecc" class="">
                    </p>
                </div>
            </div>
            <h3 id="282e02e4-23df-4774-b08b-a28c52513d5f" class="">Inquiry</h3>
            <p id="7130f2f6-d384-46fb-98ab-fa0704141623" class="">✋ Problems</p>
            <ul id="57f43f94-849a-47eb-b069-2519c0cad3de" class="bulleted-list">
                <li>Still contains too much detailed information, should focus on inquiring</li>
            </ul>
            <ul id="99db3de4-5610-43e2-9727-2b6d26918140" class="bulleted-list">
                <li>Price-tag can be mistaken with a button</li>
            </ul>
            <ul id="39b19d5a-1bb4-41ca-a6a5-59722627ba18" class="bulleted-list">
                <li>Guests number picker makes users confused</li>
            </ul>
            <ul id="1b5eac4c-616c-4d80-883c-fc2545474c52" class="bulleted-list">
                <li>“Go back” button put too deep below</li>
            </ul>
            <figure id="e01e5080-4259-4e42-9774-3c60a5a5f22a" class="image">
                <a href="New%20look%20new%20story%20xotours%20vn/image_(26).png"><img style="width:528px" src="New%20look%20new%20story%20xotours%20vn/image_(26).png" /></a>
            </figure>
            <p id="bb956b5b-8e7d-4367-b3b5-3ede4a3c0d22" class="">👍 Solutions</p>
            <ul id="3d0f55b8-b67e-42ae-ab39-ace6dce85ee1" class="bulleted-list">
                <li>Remove detailed information</li>
            </ul>
            <ul id="406c0834-be0f-47fe-a355-ad6044a461f0" class="bulleted-list">
                <li>Replace guest number drop-down with increase(+) and decrease(-) buttons, because this number is usually small</li>
            </ul>
            <ul id="76f8e6d0-06b3-4801-9acc-8ded96281679" class="bulleted-list">
                <li>No tooltip on optional services to reduce other interaction, make users focus on filling form</li>
            </ul>
            <ul id="09731826-b692-4c85-be92-8cc1bcaabc52" class="bulleted-list">
                <li>Bring “Go back” button to above (under navigation bar)</li>
            </ul>
            <figure id="2732efc3-e889-4e46-b28e-6a39206fb427" class="image">
                <a href="New%20look%20new%20story%20xotours%20vn/image_2_(4).png"><img style="width:528px" src="New%20look%20new%20story%20xotours%20vn/image_2_(4).png" /></a>
            </figure>
            <hr id="b1e3aed5-1558-4cb2-a8ae-c238e8a42beb" />
            <p id="52b702dd-da35-498d-8834-a227c7b7e9a5" class="">✋ Problems</p>
            <p id="0aa53490-2f6e-428f-8bfb-8c7529d249cc" class="">• Not well-optimized info form</p>
            <figure id="d288f708-5ea5-43f1-b9cf-f2bfa4461938" class="image">
                <a href="New%20look%20new%20story%20xotours%20vn/image_(27).png"><img style="width:336px" src="New%20look%20new%20story%20xotours%20vn/image_(27).png" /></a>
            </figure>
            <p id="cf6bd04c-a1a9-4f77-9b13-d0de330dddb5" class="">👍 Solutions</p>
            <p id="44ba7ba9-f377-42d1-8a00-4d5ef0244082" class="">• Shorten info form</p>
            <figure id="8f7b2715-8abe-426f-87a3-18cae0af0d1c" class="image">
                <a href="New%20look%20new%20story%20xotours%20vn/image_(28).png"><img style="width:336px" src="New%20look%20new%20story%20xotours%20vn/image_(28).png" /></a>
            </figure>
            <hr id="35da45d7-5de5-454d-9183-22f7e4429fd8" />
            <p id="cf34bd55-98be-443c-a191-7ba6e0c558b6" class="">✋ Problems</p>
            <ul id="e516bfb7-b477-425b-8f3b-aa33d9af4812" class="bulleted-list">
                <li>Colours can make users feel dangerous before the final steps of submitting an order</li>
            </ul>
            <figure id="b2734a68-bd1e-4125-877d-613426e1f323" class="image">
                <a href="New%20look%20new%20story%20xotours%20vn/image_(29).png"><img style="width:384px" src="New%20look%20new%20story%20xotours%20vn/image_(29).png" /></a>
            </figure>
            <p id="3ed9b6de-4714-4fa3-ae06-fc3f3b406a1c" class="">👍 Solutions</p>
            <ul id="e4549699-6113-404a-8514-d9505ce2e9dd" class="bulleted-list">
                <li>Change colour of “Submit inquiry” from orange to green to increase the most comfortable and safe feeling</li>
            </ul>
            <figure id="61fdae2c-c2df-4066-a28f-c3f8930f2e40" class="image">
                <a href="New%20look%20new%20story%20xotours%20vn/image_(30).png"><img style="width:384px" src="New%20look%20new%20story%20xotours%20vn/image_(30).png" /></a>
            </figure>
            <p id="30835f78-54bd-4962-841c-84b7d1e09897" class="">
            </p>
            <h3 id="d4b28b0a-753b-4390-9278-fcbdc6fa30ed" class="">Confirmation</h3>
            <p id="3f7465d7-83f4-4c53-9641-b4e27b7fcf31" class="">👍 Add a page to announce that users have successfully submit the inquiry form and remind them to wait for the confirmation email</p>
            <figure id="da11157d-177e-4e3b-8baf-948d650982c8" class="image">
                <a href="New%20look%20new%20story%20xotours%20vn/image_(31).png"><img style="width:384px" src="New%20look%20new%20story%20xotours%20vn/image_(31).png" /></a>
            </figure>
            <p id="dbf3de94-75ae-4459-9333-452bc48b45a3" class="">
            </p>
            <h1 id="22c903fd-9c55-4837-b2c6-250571046f7d" class="">D. Moments we made &lt;3</h1>
            <blockquote id="63aa007d-915b-4396-8dc4-d4f1916ba13c" class="">I had wanted to do a case study before but had no idea where to start. Thanks to An, one of the “best” teachers I have ever seen, I had the chance and direction to make it. I have learned so many new What, Why, How through this working process:
                What is our scope? Why is it not “prioritized” in this situation? How do we solve this problem?.Also, I improved my skills working with a team. We shared so much precious experience that I have never acknowledged before. — Dat</blockquote>
            <p
                id="34c29b87-2b8f-4cb6-807f-eb006808de77" class="">
                </p>
                <blockquote id="b79d6c56-cf51-4ebe-ae3e-44d4447c0ea8" class="">I was suprised from start day when i studied at UI/UX at Keyframe. And my teacher whose name is An (Aneko). Due to <a href="http://ms.an/">Ms.An</a>, Ms. Linh &amp; Keyframe give me which i had never knowned, share their experience, their
                    knowledge. More than, I really be respect to my team and happy for working with them. Thanks all! — Minh</blockquote>
                <p id="05ad3e3a-a7ca-40b9-b4f8-8cd60180f42a" class="">
                </p>
                <blockquote id="fb114bb1-06b5-485e-9576-7c104fd439f4" class="">I had curious how to build a website before I register this basic course. I met my lovely mentor who support our group during we did homework. And now, I knew process to build a product, find problem then resolve it. I love your lesson,
                    your experience shared us.Thanks to our Sis.An, Ms.Linh and Keyframe helped people all like me. Finally, I love my groupmates who working together whole a month. Thanks all so much!!! &lt;3 — Linh</blockquote>
                <p id="13e0848e-e7ff-45d4-adb9-c295f99b336a"
                    class="">
                </p>
                <blockquote id="5e9fe574-59e0-4acf-9b40-4a54eec1b56c" class="">Thanks for your everything in one month, I feel happy with everybody. :) — Binh</blockquote>
        </div>
    </article>
</body>

</html>