<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/images/icon.png">

    <title>Projects</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="stylesheets/style.css" rel="stylesheet">
    <link href="stylesheets/animate.css" rel="stylesheet">
</head>

<body>
    <%include nav.ejs%>
        <div class="my-section">

            <div class="container text-center">
                <h2 class="animated animated fadeIn title">Projects</h2>
            </div>

            <div class="project-container">
                <div class="row project-section">
                    <div class="col-md-6 project-thumbnail-section">
                        <a href="#">
                            <div class="square project-1 animated fadeInUpShort delay-025s">
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 d-flex align-content-center flex-wrap title-section">
                        <a href="#" class="project-title animated fadeInUpTitle delay-05s">How we won the Facebook Developer Circles Innovation Challenge</a>
                        <a href="/projects" class="my-link arrow animated fadeInUp delay-05s">read more</a>

                    </div>
                </div>

                <div class="row project-section">
                    <div class="col-md-6 project-thumbnail-section">
                        <a href="#">
                            <div class="square project-1 animated fadeInUpShort delay-025s">
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 d-flex align-content-center flex-wrap title-section">
                        <a href="#" class="project-title animated fadeInUpTitle delay-05s">How we won the Facebook Developer Circles Innovation Challenge</a>
                        <a href="/projects" class="my-link arrow animated fadeInUp delay-05s">read more</a>

                    </div>
                </div>

            </div>
        </div>
        <%include footer.ejs%>
</body>

</html>