<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CodePen - Dribbble Shots via v2 API</title>
    <link rel="stylesheet" href="stylesheets/test.css">

</head>

<body>
    <!-- partial:index.partial.html -->
    <div id="shots"></div>
    <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src="javascripts/test.js"></script>

</body>

</html>