body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.my-section {
    padding: 4vh 8vw 4vh 8vw;
}

.my-logo {
    max-width: 64px;
    height: auto;
    width: auto;
}

.navbar-p {
    font: 16px "Montserrat";
    margin-right: 32px;
    padding: 24px;
}

.active {
    color: #4B4D4B!important;
}

.navbar-option {
    font-weight: 600;
    color: rgb(212, 205, 205);
    text-align: center;
}

.last-name {
    font: 4vw "Montserrat";
    font-weight: 400;
    color: #2C2828;
    width: 100%;
}

.first-name {
    font: 6vw "Montserrat";
    font-weight: 700;
    color: #2C2828;
    width: 100%;
}

.my-hero {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}

a {
    color: #2C2828;
}

.my-link {
    width: 100%;
    font: 1.2vw "Montserrat";
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.16rem;
    margin-top: 4%;
    -webkit-transition: letter-spacing 0.3s;
    transition: letter-spacing 0.3s;
}

.my-link:hover {
    letter-spacing: 0.32rem;
}

.project-thumbnail {
    position: relative;
    width: 50%;
    transition: transform .5s, filter 1.5s ease-in-out;
    filter: grayscale(100%);
}

.project-thumbnail:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.project-thumbnail:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}

.project-section {
    padding: 0 4vw 8vh 4vw;
}

.square {
    float: left;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: background-size 0.3s ease-out;
    -moz-transition: background-size 0.3s ease-out, -webkit-box-shadow 0.3s ease-out, -moz-box-shadow 0.3s ease-out, box-shadow 0.3s ease-out;
    -ms-transition: background-size 0.3s ease-out, -webkit-box-shadow 0.3s ease-out, -moz-box-shadow 0.3s ease-out, box-shadow 0.3s ease-out;
    -o-transition: background-size 0.3s ease-out, -webkit-box-shadow 0.3s ease-out, -moz-box-shadow 0.3s ease-out, box-shadow 0.3s ease-out;
    -webkit-transition: background-size 0.3s ease-out, -webkit-box-shadow 0.3s ease-out, -moz-box-shadow 0.3s ease-out, box-shadow 0.3s ease-out;
}

.square:hover {
    background-size: auto 116%;
    -webkit-box-shadow: 0px 16px 40px 0px rgba(42, 46, 42, 0.16);
    -moz-box-shadow: 0px 16px 40px 0px rgba(42, 46, 42, 0.16);
    box-shadow: 0px 16px 40px 0px rgba(42, 46, 42, 0.16);
}

.project-thumbnail-section {
    padding: 0;
}

.title {
    font: 2.4vw "Montserrat";
    font-weight: 700;
    color: #2C2828;
    display: inline-block;
    font-size: 40;
    text-decoration: none;
    background-image: linear-gradient(to right, #27A08D, #27A08D);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 50% 0.88vh;
    margin-top: 4vh;
    margin-bottom: 8.8vh;
    padding-bottom: 2vh;
}

.title-section {
    padding-left: 4.8vw;
    padding-right: 0;
}

.right-align {
    text-align: right;
}

.project-1 {
    background-image: url('/images/project-1.jpg');
}

.project-2 {
    background-image: url('/images/project-2.jpg');
}

.project-section .project-title {
    font: 2.4vw "Montserrat";
    font-weight: 600;
    color: #2C2828;
    letter-spacing: 0.08rem;
    float: right;
}

.greeting {
    font: 4.8vw "Montserrat";
    font-weight: 600;
    color: #2C2828;
    letter-spacing: 0.08rem;
    float: right;
}

.contact {
    font: 3.2vw "Montserrat";
    font-weight: 600;
    color: #2C2828;
    letter-spacing: 0.08vw;
    float: right;
    line-height: 5.6vw;
}

p {
    font: 18px "Montserrat";
    font-weight: 400;
    color: #2C2828;
    line-height: 32px;
    display: inline;
}

span.green {
    color: #27A08D;
    font-weight: 600;
}

.green-link {
    color: #27A08D;
    font-weight: 600;
    text-decoration: underline;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: transparent;
}

::-webkit-scrollbar {
    width: 0px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #000000;
}

.arrow {
    color: #0c5449;
}

.arrow::after {
    display: inline-block;
    padding-left: 2%;
    content: url("/images/link-arrow.svg");
    -webkit-transition: transform 0.3s ease-out;
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.arrow:hover {
    color: #0c5449;
}

.arrow:hover::after {
    -webkit-transform: translateX(16px);
    transform: translateX(16px);
}

a:hover {
    text-decoration: none;
}

.footer-text {
    font: 12px "Montserrat";
    font-weight: 400;
    letter-spacing: 0.24rem;
    display: block;
}

.footer {
    /* height: 18%; */
    padding-top: 4.8vh;
    padding-bottom: 3.2vh;
    margin-top: 4vh;
}

.header {
    /* height: 10%; */
}

.contact-section {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-right: 8vw;
    padding-left: 8vw;
    text-align: center;
}

.navbar-collapse {
    flex-grow: 0;
}

.nav-d-flex {
    display: -ms-flexbox!important;
    /* display: flex!important; */
}

.home-section {
    padding-left: 8%;
    padding-right: 4%;
}

.name-section {
    padding-left: 3.2vw;
    padding-right: 0px;
}

.project-container {
    padding-left: 4.8vw;
    padding-right: 4.8vw;
}

.avatar-section {
    margin-bottom: 8vh;
}

.hamburger {
    height: 0;
    width: 8vw;
    visibility: hidden;
}

.navbar-options {
    visibility: visible;
}

.my-nav {
    padding: 4vh 4vw 4vh 8vw;
}

@media (max-width: 767px) {
    .home-section {
        padding-left: 4vw;
        padding-right: 4vw;
    }
    .name-section {
        padding-left: 0px;
        padding-right: 0px;
    }
    .last-name {
        font-size: 11vw;
    }
    .first-name {
        font-size: 13vw;
    }
    .my-link {
        font-size: 3.2vw;
        margin-top: 4.8vw;
    }
    .project-section .project-title {
        font-size: 4.8vw;
        margin-top: 4.8vw;
    }
    .title-section {
        padding-left: 4vw;
    }
    .title {
        font-size: 7.2vw;
        margin-bottom: 8vh;
    }
    .greeting {
        font-size: 8.8vw;
        text-align: left;
        margin-bottom: 7.2vh;
    }
    .hero-section {
        margin-bottom: 6.4vh;
    }
    .avatar-section {
        margin-bottom: 6.4vh;
    }
    .contact {
        text-align: start;
        font-size: 6.4vw;
        line-height: 12vw;
    }
    .contact-section {
        padding-right: 2vw;
        padding-left: 2vw;
    }
    .hamburger {
        height: auto;
        visibility: visible;
    }
    .navbar-options {
        display: none;
    }
    .my-nav {
        padding: 2vh 6.4vw 2vh 6.4vw;
        height: 12vh;
        width: 100%;
        position: fixed;
        z-index: 1;
    }
    .my-section {
        padding-top: calc(12vh + 4vh);
    }
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 12vh;
    right: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 4vh;
}

.sidebar .sidebar-option {
    padding: 0 4vw 0 4vw;
    margin-bottom: 4vw;
    font: 32px "Montserrat";
    font-weight: 600;
    color: rgb(212, 205, 205);
    display: block;
    transition: 0.3s;
    text-align: end;
    padding-right: 8vw;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    font-size: 36px;
}

.openbtn {
    height: 100%;
    font-size: 3.2vw;
    cursor: pointer;
    color: #4B4D4B;
    background-color: #ffffff;
    border: 0.16vw solid rgb(194, 198, 202);
    border-radius: 1.6vw;
    padding: 10px 15px;
}

.openbtn:hover {
    background-color: rgb(241, 235, 235);
}

#main {
    transition: margin-right .5s;
    padding: 16px;
}