body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #ffffff;
}

html {
    scroll-behavior: smooth;
}

.my-section {
    padding: 4vh 8vw 4vh 8vw;
    margin: 0;
    align-items: center;
    align-content: center;
}

.my-logo {
    height: 100%;
    width: auto;
}

.navbar-p {
    font: 1vw "Poppins";
    margin-right: 2.4vw;
}

.active {
    color: #4B4D4B!important;
}

.navbar-option {
    font-weight: 600;
    color: rgb(212, 205, 205);
    text-align: center;
    transition: 0.4s;
}

.navbar-option:hover {
    color: rgb(156, 148, 148);
}

.last-name {
    font: 4vw "Poppins";
    font-weight: 400;
    color: #2C2828;
    width: 100%;
}

.first-name {
    font: 6vw "Poppins";
    font-weight: 700;
    color: #2C2828;
    width: 100%;
}

.my-hero {
    height: auto;
}

.my-about {
    width: 26vw;
    height: auto;
    animation: float ease-in-out infinite;
    /* position: absolute;
    right: 30%;
    top: 0;
    z-index: -1; */
}

a {
    color: #2C2828;
}

.my-link {
    width: 100%;
    font: 1.2vw "Poppins";
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.32vw;
    margin-top: 4%;
    -webkit-transition: letter-spacing 0.3s;
    transition: letter-spacing 0.3s;
}

.my-home-link {
    width: 100%;
    font: 1.2vw "Poppins";
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.24vw;
    margin-top: 4%;
    margin-right: 40px;
    -webkit-transition: letter-spacing 0.3s;
    transition: letter-spacing 0.3s;
    color: #27A08D;
}

.my-home-link:hover {
    letter-spacing: 0.4vw;
}

.my-link:hover {
    letter-spacing: 0.4vw;
}

.project-thumbnail {
    position: relative;
    width: 50%;
    transition: transform .5s, filter 1.5s ease-in-out;
    filter: grayscale(100%);
}

.project-thumbnail:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.project-thumbnail:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}

.row {
    margin: 0;
}

.project-section {
    padding: 0 0 8vh 0;
    margin: 0;
}

.square {
    float: left;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: background-size 0.3s ease-out;
    -moz-transition: background-size 0.3s ease-out, -webkit-box-shadow 0.3s ease-out, -moz-box-shadow 0.3s ease-out, box-shadow 0.3s ease-out;
    -ms-transition: background-size 0.3s ease-out, -webkit-box-shadow 0.3s ease-out, -moz-box-shadow 0.3s ease-out, box-shadow 0.3s ease-out;
    -o-transition: background-size 0.3s ease-out, -webkit-box-shadow 0.3s ease-out, -moz-box-shadow 0.3s ease-out, box-shadow 0.3s ease-out;
    -webkit-transition: background-size 0.3s ease-out, -webkit-box-shadow 0.3s ease-out, -moz-box-shadow 0.3s ease-out, box-shadow 0.3s ease-out;
}

.square:hover {
    background-size: auto 116%;
    -webkit-box-shadow: 0px 16px 40px 0px rgba(42, 46, 42, 0.16);
    -moz-box-shadow: 0px 16px 40px 0px rgba(42, 46, 42, 0.16);
    box-shadow: 0px 16px 40px 0px rgba(42, 46, 42, 0.16);
}

.project-thumbnail-section {
    padding: 0;
}

.title {
    font: 2.4vw "Poppins";
    font-weight: 650;
    color: #2C2828;
    display: inline-block;
    text-decoration: none;
    background-image: linear-gradient(to right, #27A08D, #27A08D);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 50% 0.88vh;
    margin-top: 4vh;
    margin-bottom: 8vh;
    padding-bottom: 2vh;
}

.title-section {
    padding-left: 4.8vw;
    padding-right: 0;
}

.right-align {
    text-align: right;
}

.project-0 {
    background-image: url('/images/Thumbnail 1.png');
}

.project-1 {
    background-image: url('/images/project-1.jpg');
}

.project-2 {
    background-image: url('/images/project-2.jpg');
}

.project-section .project-title {
    font: 2.4vw "Poppins";
    font-weight: 600;
    color: #2C2828;
    letter-spacing: 0.08rem;
    float: right;
    transition: 0.4s;
}

.project-section .project-title:hover {
    color: #27A08D;
    letter-spacing: 0.1rem;
}

.greeting {
    font: 49px "Poppins";
    font-weight: 600;
    color: #2C2828;
    letter-spacing: 0.08rem;
    float: right;
}

.contact {
    font: 2.2vw "Poppins";
    font-weight: 600;
    color: #2C2828;
    letter-spacing: 0.08vw;
    float: right;
    line-height: 4vw;
    height: auto;
    margin-top: 4vh;
}

.about-section {
    margin-left: auto;
    margin-right: auto;
}

.about-col {
    padding-left: 1.6vw;
    padding-right: 1.6vw;
}

p {
    font: 18px "Poppins";
    font-weight: 400;
    color: #2C2828;
    line-height: 2.4vw;
    display: inline;
}

span.green {
    color: #27A08D;
    font-weight: 600;
}

.green-link {
    color: #27A08D;
    font-weight: 600;
    text-decoration: underline;
    transition: 0.4s;
}

.green-link:hover {
    color: rgb(43, 226, 199);
    font-weight: 600;
    text-decoration: underline;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: transparent;
}

::-webkit-scrollbar {
    width: 0px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #000000;
}

.arrow {
    color: #27A08D;
}

.arrow::after {
    display: inline-block;
    padding-left: 2%;
    content: url("/images/link-arrow.svg");
    /* position: fixed;
    top: 50%;
    text-align: center;
    translate: transform(-50%, -50%); */
    -webkit-transition: transform 0.3s ease-out;
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.arrow:hover {
    color: #0c5449;
}

.arrow:hover::after {
    -webkit-transform: translateX(16px);
    transform: translateX(16px);
}

a:hover {
    text-decoration: none;
}

.footer-text {
    font: 0.8vw "Poppins";
    font-weight: 400;
    letter-spacing: 0.32vw;
    display: block;
    margin-top: 0.8vw;
    margin-bottom: 0.8vw;
    line-height: 2vw;
}

.footer {
    height: 16%;
    border-top: 0.04vw solid #dee2e6!important;
    align-items: center;
}

.contact-section {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-right: 8vw;
    padding-left: 8vw;
    text-align: center;
}

.navbar-collapse {
    flex-grow: 0;
}

.nav-d-flex {
    display: -ms-flexbox!important;
    /* display: flex!important; */
}

.home-section {
    padding-right: 12vw;
    padding-left: 8vw; 
    height: 100%;
}

.name-section {
    padding-left: 4vw;
    padding-right: 0px;
}

.project-container {
    padding-left: 4.8vw;
    padding-right: 4.8vw;
}

.shot-container {
    padding-left: 4.8vw;
    padding-right: 4.8vw;
    margin-bottom: 8vh;
    display: inline-block;
}

.avatar-section {
    position: relative;
    height:100%;
}

.hamburger {
    height: 0;
    width: 8vw;
    visibility: hidden;
}

.navbar-options {
    flex-wrap: inherit !important;
    visibility: visible;
}

.single-fold {
    height: 72%;
}

.brand {
    height: 100%;
    width: auto;
}

.my-nav {
    height: 12%;
    padding: 4vh 4vw 4vh 8vw;
    border-bottom: 0.04vw solid #dee2e6!important;
}

#mailContainer {
    width: 100%;
    height: 10vw;
    display: flex;
    margin:auto;
    align-items: center;
}

.hero-section {
    height: 100%;
}

.grid {}

.grid:after {
    content: '';
    display: block;
    clear: both;
}

.grid-sizer,
.grid-item {
    width: 33.333%;
    float: left;
}

.grid-item-video {
    width: 50%;
    float: left;
}

.shots {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
}

.shots .shot {
    position: relative;
    display: block;
    background: #27A08D;
    color: white;
    text-decoration: none;
    position: relative;
}

.shots .shot:hover img {
    opacity: .0;
}

.shots .shot:hover .shot-title {
    opacity: 1;
}

.shots .shot .shot-title {
    font: 1.2vw "Poppins";
    font-weight: 700;
    position: absolute;
    width: calc(100% - 2rem);
    padding: 4vw;
    opacity: 0;
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.shots .shot img {
    display: block;
    max-width: 100%;
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
}

#back-to-top {
    padding: 1.6%;
    display: inline-block;
    background-color: #27A08D;
    width: 4vw;
    height: 4vw;
    text-align: center;
    border-radius: 0;
    position: fixed;
    bottom: 2vw;
    right: 2vw;
    transition: background-color .24s, opacity .4s, visibility .4s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#back-to-top::after {
    content: url('/images/up.svg');
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#back-to-top:hover {
    cursor: pointer;
    background-color: rgb(29, 141, 124);
}

#back-to-top:active {
    background-color: rgb(61, 202, 181);
}

#back-to-top.show {
    opacity: 1;
    visibility: visible;
}

.circle-green-fill {
    height: 22vw;
    width: 22vw;
    background-color: #27A08D;
    border-radius: 50%;
    position: absolute;
    left: 30%;
    top: 10%;
    z-index: -1;
    animation: float ease-in-out infinite;
}


.circle-black-stroke {
    height: 20vw;
    width: 20vw;
    border: 0.16vw solid #2C2828;
    border-radius: 50%;
    position: absolute;
    right: 32%;
    top: 38%;
    z-index: -1;
    animation: float ease-in-out infinite;
}


/* Styles for the content section */

.content {
    width: 77%;
    margin: 50px auto;
    font-family: 'Merriweather', serif;
    font-size: 17px;
    color: #6c767a;
    line-height: 1.9;
}

@media (min-width: 500px) {
    .content {
        width: 43%;
    }
    #button {
        margin: 30px;
    }
}

.content h1 {
    margin-bottom: -10px;
    color: #03a9f4;
    line-height: 1.5;
}

.content h3 {
    font-style: italic;
    color: #96a2a7;
}

@media (max-width: 767px) {
    p {
        font: 4.8vw "Poppins";
        line-height: 8vw;
    }
    .single-fold {
        height: auto;
    }
    .home-section {
        height: auto;
        padding: 20% 6vw 10% 6vw ;
        align-items: center;
        align-content: center;
    }
    .name-section {
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
    }
    .last-name {
        text-align: center;
        font-size: 4vh;
    }
    .first-name {
        text-align: center;
        font-size: 6vh;
    }
    .my-link {
        font-size: 3.2vw;
        margin-top: 4.8vw;
    }
    .my-home-link {
        text-align: center;
        font-size: 1.6vh;
        margin-top: 2.4vh;
    }
    .project-section .project-title {
        font-size: 4.8vw;
        margin-top: 4.8vw;
    }
    .title-section {
        padding-left: 4vw;
    }
    .title {
        margin-top: 2vh;
        font-size: 7.2vw;
        margin-bottom: 8vh;
    }
    .greeting {
        font-size: 32px;
        text-align: center;
    }
    .hero-section {
        height: auto;
    }
    .avatar-section {
        margin-bottom: 8vh;
        margin-top: 8vw;
    }
    .contact {
        height:auto;
        font-size: 6.4vw;
        line-height: 12vw;
    }
    .contact-section {
        padding: 4vw;
    }
    .hamburger {
        height: auto;
        visibility: visible;
    }
    .navbar-options {
        display: none;
    }
    .my-nav {
        padding: 4vw 4.8vw 4vw 4.8vw;
        height: 16vw;
        width: 100%;
        position: fixed;
        z-index: 2;
        -webkit-box-shadow: 0px 8px 24px 0px rgba(57, 64, 57, 0.16);
        -moz-box-shadow: 0px 8px 24px 0px rgba(57, 64, 57, 0.16);
        box-shadow: 0px 8px 24px 0px rgba(57, 64, 57, 0.16);
    }
    .my-section {
    padding: 12vh 8vw 0 8vw ;
    margin: 0;
   }
    .overlay {
        position: fixed;
        visibility: hidden;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.4);
        opacity: 0;
        z-index: 1;
        transition: 0.5s;
    }
    .button{
        margin:auto;
    }
    .raise{
        font-size: 16px;
    }
    #mailContainer {
        width: 24vw;
        height: 24vw;
        margin: auto;
        display: flex;
        align-items: center;
    }
    .my-hero {
        width: auto;
        height: 40vh;
    }
    .my-about {
        width: 72vw;
        height: auto;
    }
    .circle-black-stroke {
        height: 56vw;
        width: 56vw;
        right: 32%;
        top: -5%;
    }
    .circle-green-fill {
        height: 56vw;
        width: 56vw;
        left: 32%;
        bottom: -5%;
    }
    .my-logo {
        height: 100%;
        width: auto;
    }
    .footer-text {
        font: 2.4vw "Poppins";
        font-weight: 400;
        letter-spacing: 0.8vw;
        margin-top: 0.8vw;
        margin-bottom: 0.8vw;
        line-height: 4vw;
    }
    .footer {
        height: 12%;
        border-top: 0.04vw solid #dee2e6!important;
    }
    .grid-sizer,
    .grid-item,
    .grid-item-video {
        width: 100%;
    }
    .shots .shot .shot-title {
        font: 4.8vw "Poppins";
        font-weight: 700;
    }
    .project-container {
        padding: 0;
    }
    .shot-container {
        padding: 0;
    }
    #back-to-top {
        padding: 4.8%;
        width: 12vw;
        height: 12vw;
        position: fixed;
        bottom: 4vw;
        right: 4vw;
    }
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 12vw;
    right: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 6vh;
}

.sidebar .sidebar-option {
    padding: 0 4vw 0 4vw;
    margin-bottom: 4vw;
    font: 8vw "Poppins";
    font-weight: 600;
    color: rgb(212, 205, 205);
    display: block;
    transition: 0.3s;
    text-align: end;
    padding-right: 8vw;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    font-size: 36px;
}

.openbtn {
    height: 100%;
    font-size: 3.2vw;
    cursor: pointer;
    color: #4B4D4B;
    background-color: #ffffff;
    border: 0.16vw solid rgb(194, 198, 202);
    border-radius: 1.6vw;
    padding: 10px 15px;
}

.openbtn:hover {
    background-color: rgb(241, 235, 235);
}

#main {
    transition: margin-right .5s;
    padding: 16px;
}


/* #overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    transition: 5s;
} */

#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
    text-align: center;
}

#loading-image {
    position: absolute;
    top: 100px;
    left: 240px;
    z-index: 100;
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.8em 0.8em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.raise {
  --color: rgb(29, 141, 124);
  --hover: rgb(29, 141, 124);
}

button {
  color: var(--color);
  transition: 0.25s;
}

button:hover, button:focus {
  border-color: var(--hover);
  color: rgb(29, 141, 124);
}

button {
  background: none;
  border: 3px solid;
  font: 1vw "Poppins";
  font-weight: 600;
  letter-spacing: 2;
  text-transform: uppercase;
  margin-top: 8px;
  padding: 1em 2em;
}